/* palette */
:root {
    --black: #202225;
    --grey: #7f7f7f;
    --white: #e5e8eb;
    --primary: #00b8bf;
    --secondary: #bc00a6;

    --primary-o: rgba(0, 184, 191, 0.3);
    --secondary-o: rgba(188, 0, 166, 0.3);
    --white-o: rgba(229, 232, 235, 0.3);
}

/* local font */
@font-face {
    font-family: 'Poppins';
    src: url("../font/poppins.regular.ttf");
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-size: calc(16px + 0.1vw);
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

a {
    color: currentColor;
}

/* common */
section {
    padding: 100px 0 0 0;
    position: relative;
}

.text-sm-center {
    text-align: center;
}

@media (min-width: 768px) {
    section {
        padding: 100px 0 0 0;
    }

    .text-sm-center {
        text-align: start;
    }
}

.section-title {
    background-color: var(--primary-o);
    color: var(--primary);
    border-radius: 999px;
    padding: 0.5em 3em;
    display: inline-block;
}

.section-title-secondary {
    font-size: 1.2em;
    font-weight: 600;
}

.subtitle {
    font-size: 1.2em;
}

@media (min-width: 762px) {
    .section-title-secondary {
        font-size: 1.6em;
        font-weight: 700;
    }

    .subtitle {
        font-size: 1.6em;
    }
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-grey {
    color: var(--grey);
}

.text-center {
    text-align: center;
}

.btn {
    font-size: 1em;
    border-radius: 10px;
    padding: 0.3em 3em;
    border: none;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid;
    padding: calc(0.3em - 1px) calc(3em - 1px);
}

@media (min-width: 768px) {
    .btn {
        font-size: 1.5em;
    }
}

.btn.primary-btn {
    background-color: var(--primary-o);
    color: var(--primary);
}

.btn.white-btn {
    background-color: var(--white-o);
    color: var(--white);
}

.relative {
    position: relative;
}

.h-100 {
    height: 100%;
}

.border-bottom-primary {
    border-bottom: 1px solid var(--primary);
}

.icon {
    width: 50px;
    height: 50px;
}

.icon.s {
    width: 25px;
    height: 25px;
}

.icon.icon-primary {
    filter: invert(48%) sepia(68%) saturate(809%) hue-rotate(139deg) brightness(99%) contrast(102%);
}
/* header style */
header {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.16);
    padding: 12px 0;
    backdrop-filter: blur(7px);
    z-index: 99;
    transition: 0.3s all ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo-wrapper {
    max-width: 170px;
}

.big-logo-wrapper {
    max-width: 80%;
}

@media (min-width: 992px) {
    .big-logo-wrapper {
        max-width: 100%;
    }
}
 
ul {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s all ease;
}

.navbar ul a:visited {
    color: currentColor;
}

.navbar ul a:hover {
    color: var(--primary);
}

.navbar ul .header-link.active {
    color: var(--primary);
}

.hamburger-menu {
    width: 30px;
}

.pseudo-element {
    width: 30px;
}

/* home section */
#home, #faq {
    padding-top: 100px;
    padding-left: 0;
}

@media (min-width: 768px) {
    #home, #faq {
        padding-left: calc((100% - 720px) / 2);
    }        
}

@media (min-width: 992px) {
    #home, #faq {
        padding-left: calc((100% - 950px) / 2);
    } 
}

@media (min-width: 1200px) {
    #home, #faq {
        padding-left: calc((100% - 1410px) / 2);
    }
}

/* .home-left {
    padding-left: 28.76px;
} */

.faq-left {
    padding-left: 28.76px;
}

.home-right, .faq-right {
    width: calc(100% - 28.76px);
}

@media (min-width: 768px) {
    .home-left {
        padding-left: 28.76px;
    }
}

@media (min-width: 992px) {
    .home-left {
        max-width: 549px;
    }

    .home-right, .faq-right {
        width: 100%;
    }
}

.scroll-wrapper {
    height: 46px;
    width: 20px;
    border: 1px solid var(--white);
    border-radius: 999px;
    position: relative;
}

.scroll-point {
    top: 8px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%; 
    animation: scroll 2s infinite; 
    opacity: 1;
}

@keyframes scroll {
    25% {opacity: 1;}
    50% {top: 30px; opacity: 0;}
    51%, 100% {top: 8px; opacity: 1;}
}

/* features section */
.features-controller {
    border-radius: 999px;
    box-shadow: 5px 5px 8px 3px rgba(26, 26, 26, 0.7);
}

.features-controller li {
    padding: 0.5em 3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: none;
    min-width: 325px;
    text-align: center;
}

.features-controller li:hover {
    color: var(--primary);
}

.features-controller li.active  {
    color: var(--primary);
    background-color: var(--primary-o);
    border-radius: 999px;
    display: block;
}

@media (min-width: 762px) {
    .features-controller li {
        display: block;
        min-width: 0;
    }
}

.feature-img-wrapper {
    border: 1px solid white;
    border-radius: 25px;
    padding: 25px;
    background: linear-gradient(to right top, var(--primary-o), var(--secondary-o));
}

#carousel-img, #carousel-title, #carousel-text {
    transition: opacity 0.5 ease-in-out;
}

.prev, .next {
    font-size: 1.5rem;
    font-weight: 700;
}

/* video section */
.video-wrapper {
    padding: 25px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(7px);
    z-index: 99;
}

/* whitepaper section */
.whitepaper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px 3px rgba(26, 26, 26, 0.7);
    background-color: var(--black);
}

/* faq section */
.faq-list li {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px 3px rgba(26, 26, 26, 0.7);
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.faq-list .symbol {
    font-weight: 700;
    color: var(--primary);
}

.faq-list .answer {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    color: var(--grey);
}

.faq-list .symbol:before {
    content: '+';
    display: block;
}

.faq-list .open .symbol:before {
    content: '-';
}

/* footer area */
.social-wrapper li {
    cursor: pointer;
}

.transition {
    transition: all 0.4s ease-in;
    -webkit-transition : -webkit-filter 400ms ease-in;
}

/* gradienti di sfondo */
.first-section-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 80% -10%, var(--secondary-o), rgba(0,0,0,0) 550px),
                radial-gradient(circle at 20% 35%, var(--primary-o), rgba(0,0,0,0) 320px),
                radial-gradient(circle at 58% 83%, var(--secondary-o), rgba(0,0,0,0) 300px)
}

.second-section-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 90% 45%, var(--secondary-o), rgba(0,0,0,0) 320px),
                radial-gradient(circle at 10% 35%, var(--primary-o), rgba(0,0,0,0) 320px)
}

.third-section-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 66% 64%, var(--secondary-o), rgba(0,0,0,0) 300px)
}

@media (min-width: 768px) {
    .first-section-gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 80% -10%, var(--secondary-o), rgba(0,0,0,0) 600px),
                    radial-gradient(circle at 25% 65%, var(--primary-o), rgba(0,0,0,0) 550px)
    }
    
    .second-section-gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 90% 30%, var(--secondary-o), rgba(0,0,0,0) 600px),
                    radial-gradient(circle at 10% 50%, var(--primary-o), rgba(0,0,0,0) 600px)
    }
    
    .third-section-gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at 90% 50%, var(--secondary-o), rgba(0,0,0,0) 500px)
    }
}

@media (min-width: 2200px) {
    .first-section-gradient {
        background: radial-gradient(circle at 70% -10%, var(--secondary-o), rgba(0,0,0,0) 700px),
                    radial-gradient(circle at 35% 65%, var(--primary-o), rgba(0,0,0,0) 700px)
    }

    .second-section-gradient {
        background: radial-gradient(circle at 70% 30%, var(--secondary-o), rgba(0,0,0,0) 700px),
                    radial-gradient(circle at 30% 50%, var(--primary-o), rgba(0,0,0,0) 700px)
    }

    .third-section-gradient {
        background: radial-gradient(circle at 70% 50%, var(--secondary-o), rgba(0,0,0,0) 600px)
    }
}